$handW: 6vw;

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

#hands {
  margin: 2em 0;
  height: calc($handW * 2);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: calc($handW / 30);
}

.hand {
  width: $handW;

  &.selected {
    align-self: flex-start;
  }

  &.drawn {
    margin-left: calc($handW / 2);
  }

  > img {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
  }
}

.reset {
  background-color: #e00000;
  color: white;
  font-size: 1.6em;
}
